/*-------------------------------------------

-------------------------------------------*/
.satisfaction {
  height: 555px;
  height: auto;
  margin: 80px 0;
  // padding: 80px 0;
  // background-color: #f4d275;
}

.satisfaction-container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 5vw;
  margin-top: 40px;
  text-align: center;
}
.satisfaction-container picture {
  width: 100%;
}
.satisfation-image {
  max-width: 1022px;
}
.satisfation-sp-image {
  width: 100%;
  object-fit: cover;
}
.satisfaction-note {
  max-width: 1022px;
  font-size: 0.8125rem;
  margin-top: 0.5em;
  margin-bottom: 1rem;
  letter-spacing: -0.5px;
  color: #999;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.satisfaction .btn-30dayfree {
  margin-top: 40px;
}

@media screen and (max-width: 768px) {
  .satisfaction-container {
    width: 100%;
    margin-top: 38px;
    padding: 0 10vw;
  }
  .satisfaction {
    margin: 40px 0;
  }
  .satisfation-image {
    width: 100%;
  }

  .satisfaction-note {
    font-size: 0.6875rem;
  }
  .satisfaction .btn-30dayfree {
    width: 337px;
    font-size: 0.875rem;
  }
}
