/*-------------------------------------------

-------------------------------------------*/

.corporate {
  height: 300px;
  height: auto;
}
.corporate-container {
  max-width: 1300px;
  width: 100%;
  margin: 50px auto 25px;
}
.corporate-logo-list-image {
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .corporate-container {
    width: 100%;
    text-align: center;
    padding: 0 5vw;
  }

  .corporate-image {
    width: 100%;
  }
}
