@charset "UTF-8";

body {
    font-family: "Noto Sans JP", Roboto, sans-serif;
    color: #333;
}
main {
    margin-top: 138px;
}
.inner-1175  {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}


.subMv__wrapper {
    position: relative;
    height: 220px;
}
.subMv__heading {
    font-size: 38px;
    font-size: 2.25rem;
    font-weight: 700;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 0;
}
.heading--type1 {
    color: #0a296c;
    font-size: 25px;
    font-weight: 700;
    padding: 50px 0;
}
@media screen and (max-width: 1340px) {
    .inner-1175  {
        max-width: 100%;
        margin-left: 5vw;
        margin-right: 5vw;
    }
}

@media screen and (max-width: 1060px) {

    
}
@media screen and (max-width: 768px) {
    main {
        margin-top: 64px;
    }
    .subMv__wrapper {
        height: 122px;
    }
    .subMv__heading {
        font-size: 28px;
        line-height: 1.4;
    }
    .heading--type1 {
        font-size: 22px;
        padding: 35px 0;
    }
}
@media screen and (max-width: 550px) {
    .subMv__heading {
        font-size: 21px;
    }
    .heading--type1 {
        font-size: 20px;
        padding: 35px 0;
    }
    
}
@media screen and (max-width: 450px) {

    
}



@media screen and (max-width: 1340px) {

}

@media screen and (max-width: 1060px) {

    
}
@media screen and (max-width: 768px) {

    
}
@media screen and (max-width: 550px) {

    
}
@media screen and (max-width: 450px) {

    
}

.ttl_box {
    margin-bottom: 15px;
    color: #1a1a1a;
    font-size: 18px;
    background: #f7f7f7;
    padding: 10px 15px;
    border-radius: 3px;
}
.box_text{
    margin-bottom: 24px;
}
.box_text li{
    position: relative;
    margin-bottom: 15px;
    padding-left: 50px;
    min-height: 40px;
}
.box_text li:nth-child(1)::before{
    content: 'Q';
    position: absolute;
    left: 0;
    width: 40px;
    height: 40px;
    background-color: #A22125;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    line-height: 32px;
}
.box_text li:nth-child(2)::before{
    content: 'A';
    position: absolute;
    left: 0;
    width: 40px;
    height: 40px;
    background-color: #fff;
    color: #A22125;
    border: 3px solid #A22125;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    line-height: 32px;
}
.contents_box{
    margin-bottom: 36px;
}
.bottombtn{
    display: flex;
    justify-content: space-between;
}
.bottombtn a{
    display: block;
    width: 260px;
    height: 60px;
    line-height: 58px;
    margin-right: 10px;
    border-radius: 30px;
    background: linear-gradient(to right, #3C6DF0, #0A2D88);
    font-size: 18px;
    color: #fff;
    text-align: center;
}
.bottombtn a:hover{
    opacity: 0.8;
}
.bottombtn a:last-child{
    margin-right: 0;
}

@media screen and (max-width: 768px) {
    .ttl_box {
        font-size: 16px;
    }
    .box_text li{
        margin-bottom: 10px;
        padding-left: 40px;
        min-height: 30px;
    }
    .box_text li:nth-child(1)::before{
        width: 32px;
        height: 32px;
        font-size: 20px;
        line-height: 26px;
    }
    .box_text li:nth-child(2)::before{
        width: 32px;
        height: 32px;
        border: 2px solid #A22125;
        font-size: 20px;
        line-height: 26px;
    }
    .bottombtn{
        flex-wrap: wrap;
        justify-content: center;
    }
    .bottombtn a{
        display: block;
        width: 75%;
        min-width: 240px;
        height: 52px;
        line-height: 50px;
        margin-right: 0;
        margin-bottom: 12px;
        border-radius: 26px;
        font-size: 16px;
    }
    .bottombtn a:last-child{
        margin-bottom: 0;
    }
}