/*-------------------------------------------

-------------------------------------------*/

.seles-expansion {
  height: 330px;
  height: auto;
  margin-top: 144px;
  margin-bottom: 178px;
  // background-color: azure;
  display: flex;
}
.sub-header {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: center;
}
.seles-expansion .section-title {
  margin-bottom: 50px;
}

.seles-expansion-container {
  display: flex;
}
.seles-expansion-text-box {
  order: 2;
  width: 38%;
  margin-top: 20px;
}
.seles-expansion-image-box1 {
  order: 1;
  width: 31%;
}
.seles-expansion-image-box2 {
  order: 3;
  width: 31%;
}
.seles-expansion-image01 {
  width: 100%;
  height: auto;
  vertical-align: top;
  object-fit: cover;
}
.seles-expansion-image02 {
  width: 100%;
  height: auto;
  vertical-align: top;
  object-fit: cover;
}

@media screen and (max-width: 1340px) {
  .seles-expansion {
    max-width: 1340px;
    width: 100%;
    margin-bottom: 120px;
  }

  .seles-expansion-container {
    max-width: 1340px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .seles-expansion .section-title {
    margin-bottom: 30px;
  }

  .seles-expansion-text-box {
    order: 1;
    width: 100%;
    margin-bottom: 30px;
    padding-left: 5vw;
    padding-right: 5vw;
  }
  .sub-header {
    font-size: 0.9375rem;
  }

  .seles-expansion .btn-30dayfree-header {
    line-height: 1;
    font-size: 0.875rem;
    &::before {
      height: 100%;
    }
    &::after {
      height: 100%;
    }
  }
  .seles-expansion .btn-30dayfree {
  }

  .seles-expansion-image-box1 {
    order: 2;
    width: 49%;
  }
  .seles-expansion-image-box2 {
    order: 3;
    width: 49%;
  }
}
@media screen and (max-width: 1060px) {
  .seles-expansion .section-title {
    font-size: 1.875rem;
  }
}

@media screen and (max-width: 768px) {
  .seles-expansion-container {
    flex-direction: column;
  }
  .seles-expansion .section-title {
    font-size: 5.4vw;
    line-height: 1.7;
  }
  .seles-expansion-text-box {
    order: 1;
    width: 100%;
    margin-bottom: 30px;
  }
  .seles-expansion-image-box1 {
    order: 2;
    width: 100%;
  }
  .seles-expansion-image-box2 {
    order: 3;
    width: 100%;
  }
}
