@charset "UTF-8";

body {
    font-family: "Noto Sans JP", Roboto, sans-serif;
    color: #333;
}
main {
    margin-top: 138px;
}
.inner-1175  {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}


.subMv__wrapper {
    position: relative;
    height: 220px;
}
.subMv__heading {
    font-size: 38px;
    font-size: 2.25rem;
    font-weight: 700;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 0;
}
.heading--type1 {
    color: #0a296c;
    font-size: 25px;
    font-weight: 700;
    padding: 50px 0;
}
@media screen and (max-width: 1340px) {
    .inner-1175  {
        max-width: 100%;
        margin-left: 5vw;
        margin-right: 5vw;
    }
}

@media screen and (max-width: 1060px) {

    
}
@media screen and (max-width: 768px) {
    main {
        margin-top: 64px;
    }
    .subMv__wrapper {
        height: 122px;
    }
    .subMv__heading {
        font-size: 28px;
        line-height: 1.4;
    }
    .heading--type1 {
        font-size: 22px;
        padding: 35px 0;
    }
}
@media screen and (max-width: 550px) {
    .subMv__heading {
        font-size: 21px;
    }
    .heading--type1 {
        font-size: 20px;
        padding: 35px 0;
    }
    
}
@media screen and (max-width: 450px) {

    
}


.ttl_box{
    margin-top: 37px;
}

.box{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}
.box li{
    width: 48%;
    margin-right: 4%;
    padding: 23px 30px 33px 30px;
    text-align: center;
    border: 1px solid #d3d3d3;
}
.box li:nth-child(2n){
    margin-right: 0;
}
.box li p:nth-child(1) img{
    max-width: 100%;
}
.box li p:nth-child(2){
    margin-top: 20px;
    font-weight: bold;
}
.box li span:nth-child(3){
    display: block;
    background: #0a2d88;
    margin-top: 20px;
    padding: 8px;
    color: #fff;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    transition: all 0.3s;
}
.box li span:nth-child(3):hover{
    box-shadow: none;
}

.box_text.tr{
    text-align: right;
}
.box_text a{
    text-decoration: underline;
}
.box_text span{
    font-size: 14px;
}
.box050-1{
    display: flex;
    margin-top: 10px;
}
.box050-1 p:nth-child(1){
    width: 100%;
    margin-top: 0;
    margin-right: 5%;
}

.box050-2{
    margin-top: 40px;
    padding: 24px 30px 10px;
    background-color: #eee;
}
.box050-2 h4{
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
}
.box050-2 ul{
    display: flex;
    flex-wrap: wrap;
}
.box050-2 ul li{
    width: 32%;
    margin-bottom: 16px;
    margin-right: 2%;
    padding: 20px;
    background-color: #fff;
}
.box050-2 ul li:nth-child(3n){
    margin-right: 0;
}
.box050-2 ul li p:nth-child(1) img{
    max-width: 100%;
    height: fit-content;
}
.box050-2 ul li p:nth-child(2) span{
    display: block;
    margin: 20px 0 10px;
    font-weight: bold;
    color: #01606D;
}

.box050-3{
    display: flex;
    margin-top: 25px;
}
.box050-3 li{
    width: 50%;
    padding: 30px 20px;
    line-height: 2;
    border: 1px solid #ccc;
}
.box050-3 li:nth-child(1){
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: none;
    padding-left: 12px;
}
.box050-3 li:nth-child(2){
    background-color: #f0f0f0;
    text-align: center;
}
.box050-3 li p span{
    display: inline-block;
    margin: -6px 5px 0;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
}
.box050-3 li p.enn{
    position: relative;
    display: flex;
    font-size: 14px;
    color: #fff;
    line-height: 1.2;
    font-weight: bold;
    margin: -1px 12% 0 -5px;
    padding-top: 3px;
    align-items: center;
}
.box050-3 li p.enn::before{
    content: "";
    position: absolute;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background-color: #01606D;
    z-index: -1;
    right: -69%;
    transform: translateX(-5%);
}
.box050-3 li > div p:nth-child(2){
    font-size: 14px;
}

.box050-5{
    margin-top: 16px;
    line-height: 1.9;
}
.box050-5 li{
    display: flex;
}
.box050-5 li p:nth-child(1){
    width: 21%;
    padding: 16px 15px;
    background-color: #f8f8f8;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    border-top: 1px solid #d3d3d3;
    border-left: 1px solid #d3d3d3;
}
.box050-5 li p:nth-child(2){
    width: 79%;
    padding: 16px 30px;
    font-size: 16px;
    border-top: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
}
.box050-5 li:last-child p{
    border-bottom: 1px solid #d3d3d3;
}

.flow_design08 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
  }
  
  .flow08 {
    padding-left: 0;
    line-height: 1.9;
  }
  
  .flow08 > li {
    list-style-type: none;
    border-radius: 15px;
    background: #F4F6FA;
    position: relative;
    padding: 24px 20px;
  }
  
  .flow08 > li:not(:last-child) {
    margin-bottom: 20px;
  }

  .flow08 > li:not(:last-child)::after{
    content: '';
    position: absolute;
    width: 23px;
    height: 22px;
    left: 20px;
    bottom: -12px;
    background: url('../img/arrow01.png') center/cover;
  }
  
  .flow08 > li dl {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .flow08 > li dl dt {
    display: flex;
    font-size: 18px;
    font-weight: 700;
    width: 20%;
    min-width: 7em;
  }
  
  .flow08 > li .icon08 {
    color: #00AFC8;
    margin-right: 0.5em;
  }
  
  .flow08 > li dl dd {
    margin: 0;
    width: calc(80% - 20px);
    font-size: 16px;
  }
  .flow08 > li dl dd ul{
      margin: 5px 0;
      font-size: 14px;
  }

.table, .table2{
    margin-top: 25px;
}
.table{
    width: 100%;
}
.table th{
    padding: 12px 10px;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #D3D3D3;
    border-right: none;
    background-color: #F8F8F8;
}
.table td{
    padding: 24px 10px;
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px solid #D3D3D3;
    border-left: 1px solid #D3D3D3;
}
.table th:last-child, .table td:last-child{
    border-right: 1px solid #D3D3D3;
}

.table2 li:nth-child(2n-1){
    padding: 15px 30px;
    font-weight: bold;
    font-size: 16px;
    background-color: #F8F8F8;
    border: 1px solid #d3d3d3;
}
.table2 li:nth-child(2n){
    padding: 18px 30px;
    font-size: 16px;
    border-left: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
}
.table2 li:last-child{
    border-bottom: 1px solid #d3d3d3;
}

@media screen and (max-width: 1340px) {

}

@media screen and (max-width: 1060px) {

    
}
@media screen and (max-width: 768px) {

    .box li{
        width: 100%;
        margin-right: 0;
        margin-bottom: 17px;
        padding: 16px 25px 20px;
    }
    .box li span:nth-child(3){
        padding: 7px 8px 8px;
        font-size: 14px;
    }

    .box_text span{
        font-size: 12px;
    }
    .box050-2{
        padding: 20px;
    }
    .box050-2 h4{
        font-size: 17px;
    }
    .box050-2 ul{
        flex-wrap: wrap;
    }
    .box050-2 ul li{
        display: flex;
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
        padding: 10px;
    }
    .box050-2 ul li:last-child{
        margin-bottom: 0;
    }
    .box050-2 ul li p{
        font-size: 14px;
    }
    .box050-2 ul li p:nth-child(1){
        width: 0;
    }
    .box050-2 ul li p:nth-child(2){
        width: 100;
    }
    .box050-2 ul li p:nth-child(2) span{
        margin: 0 0 5px;
    }
    
    .box050-3{
        flex-wrap: wrap;
    }
    .box050-3 li{
        width: 100%;
    }
    .box050-3 li:nth-child(1){
        border-right: 1px solid #ccc;
        border-bottom: none;
    }
    .box050-3 li > div p:nth-child(2){
        font-size: 12px;
    }

    .box050-5 li{
        flex-wrap: wrap;
    }
    .box050-5 li p:nth-child(1){
        width: 100%;
        padding: 7px 18px;
        border-right: 1px solid #d3d3d3;
        line-height: 1.8;
        font-size: 14px;
    }
    .box050-5 li p:nth-child(2){
        width: 100%;
        padding: 9px 18px;
        border-left: 1px solid #d3d3d3;
        line-height: 1.8;
        border-top: none;
        font-size: 14px;
    }

    .flow08 > li dl{
        flex-wrap: wrap;
        justify-content: center;
        gap: 0;
    }
    .flow08 > li dl dt{
        justify-content: center;
        width: 100%;
        max-width: 100%;
        margin-bottom: 10px;
    }
    .flow08 > li dl dd{
        width: 100%;
    }
    .flow08 > li:not(:last-child)::after{
        content: '';
        position: absolute;
        width: 23px;
        height: 22px;
        left: 50%;
        bottom: -12px;
        transform: translateX(-50%);
        background: url('../img/arrow01.png') center/cover;
    }

}
@media screen and (max-width: 550px) {

    
}
@media screen and (max-width: 450px) {

    
}