/*-------------------------------------------

-------------------------------------------*/

.growth {
  height: 412px;
  margin-top: 80px;
  margin-bottom: 80px;
  // background-color: rgb(226, 196, 156);
  overflow: hidden;
}

.growth-description {
  margin: 24px auto 0;
  padding: 0 5vw;
  text-align: center;
  font-size: 0;
  & span {
    font-size: 1rem;
    display: inline-block;
    margin-right: -3px;
  }
}

.works-list {
  width: 150vw;
  height: 14.7928994083vw;
  background-image: image-set(url(../images/02_growth/history.jpg) 1x, url(../images/02_growth/history@2x.jpg) 2x);

  background-repeat: repeat-x;
  background-size: cover;
  -webkit-animation: 50s linear -30s infinite infinite-scroll;
  animation: 50s linear -30s infinite infinite-scroll;
  margin-top: 40px;
}



@keyframes infinite-scroll {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -300vw;
  }
}


@media screen and (max-width: 1060px) {
}

@media screen and (max-width: 768px) {
  .growth {
    height: auto;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .works-list {
  height: 29.5857988166vw;
  }
.growth-description {
  font-size: 0.875rem;
  margin-top: 19px;
  & span {
    font-size: 0.875rem;
    display: inline-block;
  }
}

}