@charset "UTF-8";

body {
    font-family: "Noto Sans JP", Roboto, sans-serif;
    color: #333;
}
main {
    margin-top: 138px;
}
.inner-1175  {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}


.subMv__wrapper {
    position: relative;
    height: 220px;
}
.subMv__heading {
    font-size: 38px;
    font-size: 2.25rem;
    font-weight: 700;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 0;
}
.heading--type1 {
    color: #0a296c;
    font-size: 25px;
    font-weight: 700;
    padding: 50px 0;
}
@media screen and (max-width: 1340px) {
    .inner-1175  {
        max-width: 100%;
        margin-left: 5vw;
        margin-right: 5vw;
    }
}

@media screen and (max-width: 1060px) {

    
}
@media screen and (max-width: 768px) {
    main {
        margin-top: 64px;
    }
    .subMv__wrapper {
        height: 122px;
    }
    .subMv__heading {
        font-size: 28px;
        line-height: 1.4;
    }
    .heading--type1 {
        font-size: 22px;
        padding: 35px 0;
    }
}
@media screen and (max-width: 550px) {
    .subMv__heading {
        font-size: 21px;
    }
    .heading--type1 {
        font-size: 20px;
        padding: 35px 0;
    }
    
}
@media screen and (max-width: 450px) {

    
}




.flow_design08 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flow08 {
  padding-left: 0;
  line-height: 1.9;
}

.flow08 > li {
  list-style-type: none;
  border-radius: 15px;
  background: #F4F6FA;
  position: relative;
  padding: 25px 20px;
}

.flow08 > li:not(:last-child) {
  margin-bottom: 20px;
}

.flow08 > li:not(:last-child)::after{
    content: '';
    position: absolute;
    width: 23px;
    height: 22px;
    left: 20px;
    bottom: -12px;
    background: url('../img/arrow01.png') center/cover;
  }

.flow08 > li dl {
  display: flex;
  align-items: center;
  gap: 20px;
}

.flow08 > li dl dt {
  display: flex;
  font-size: 18px;
  font-weight: 700;
  width: 20%;
  min-width: 7em;
  color: #00AFC8;
}

.flow08 > li .icon08 {
  margin-right: 0.5em;
}

.flow08 > li dl dd {
  margin: 0;
  width: calc(80% - 20px);
  font-size: 16px;
}
.flow08 > li dl dd ul{
    margin: 5px 0;
}

@media screen and (max-width: 1340px) {

}

@media screen and (max-width: 1060px) {

    
}
@media screen and (max-width: 768px) {

    .flow08 > li dl{
        flex-wrap: wrap;
        justify-content: center;
        gap: 0;
    }
    .flow08 > li dl dt{
        justify-content: center;
        width: 100%;
        max-width: 100%;
        margin-bottom: 10px;
    }
    .flow08 > li dl dd{
        width: 100%;
    }
    .flow08 > li:not(:last-child)::after{
        content: '';
        position: absolute;
        width: 23px;
        height: 22px;
        left: 50%;
        bottom: -12px;
        transform: translateX(-50%);
        background: url('../img/arrow01.png') center/cover;
    }
    
}
@media screen and (max-width: 550px) {

    
}
@media screen and (max-width: 450px) {

    
}
