@charset "UTF-8";

body {
  font-family: "Noto Sans JP", Roboto, sans-serif;
  color: #333;
}
main {
    margin-top: 138px;
}
.inner-1175  {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}


.subMv__wrapper {
    position: relative;
    height: 220px;
}
.subMv__heading {
    font-size: 38px;
    font-size: 2.25rem;
    font-weight: 700;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 0;
}
.heading--type1 {
    color: #0a296c;
    font-size: 25px;
    font-weight: 700;
    padding: 50px 0;
}
@media screen and (max-width: 1340px) {
    .inner-1175  {
        max-width: 100%;
        margin-left: 5vw;
        margin-right: 5vw;
    }
}

@media screen and (max-width: 1060px) {

    
}
@media screen and (max-width: 768px) {
    main {
        margin-top: 64px;
    }
    .subMv__wrapper {
        height: 122px;
    }
    .subMv__heading {
        font-size: 28px;
        line-height: 1.4;
    }
    .heading--type1 {
        font-size: 22px;
        padding: 35px 0;
    }
}
@media screen and (max-width: 550px) {
    .subMv__heading {
        font-size: 21px;
    }
    .heading--type1 {
        font-size: 20px;
        padding: 35px 0;
    }
    
}
@media screen and (max-width: 450px) {

    
}



@media screen and (max-width: 1340px) {

}

@media screen and (max-width: 1060px) {

    
}
@media screen and (max-width: 768px) {

    
}
@media screen and (max-width: 550px) {

    
}
@media screen and (max-width: 450px) {

    
}


.c-lead {
    max-width: 850px;
   
  }
  .c-lead__txt{
    line-height: 2;
  }
  
  @media (max-width: 900px) {
    .c-lead {
      padding: 30px 20px 20px;
    }
  }
  
  .c-lead__ttl {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 12px;
    padding-bottom: 8px;
  }
  
  @media (max-width: 900px) {
    .c-lead__ttl {
      font-size: 15px;
    }
  }
  
  @media (max-width: 900px) {
    .c-lead__txt {
      font-size: 13px;
    }
  }
  .display_sec_box01 {
    margin-top: 35px;
    line-height: 2
    ;
  }
  .display_sec_box01 dl {
    display: flex;
    margin-bottom: 10px;
  }
  .display_sec_box01 dl:last-child{
    margin-bottom: 0;
  }
  
  .display_sec_box01 dt {
    width: 23.5%;
    font-weight: bold;
    padding: 15px 20px;
    background-color: #E5E5E5;
  }
  
  .display_sec_box01 dd {
    width: 76.5%;
    padding: 15px 20px;
    background-color: #F5F5F5;
  }
  
  .display_last_dt,
  .display_last_dd {
    border-bottom: 1px solid #D3D3D3;
  }
  
  .display_sec_box01_text01 {
    margin: 10px 0;
  }
  
  .display_notion {
    font-size: 12px;
  }
  
  .display_sec_table_notion {
    font-size: 12px;
    text-align: right;
    display: block;
    margin-top: 20px;
  }
  
  @media (max-width: 768px) {
    .pc_br {
      display: none;
    }
  
    .display_sec {
      padding: 30px 20px 0;
    }
  
    .display_sec_last {
      padding: 30px 20px 30px;
    }
  
    .display_sec_ttl01 {
      font-size: 16px;
    }
  
    .display_sec_text {
      font-size: 13px;
    }

    .display_sec_box01 dl {
      display: block;
      font-size: 14px;
    }
  
    .display_sec_box01 dt {
      width: 100%;
      margin-bottom: 5px;
      padding: 12px 20px;
    }
  
    .display_sec_box01 dd {
      width: 100%;
      padding: 15px 20px;
    }
  
    .display_sec_box01_notion {
      display: block;
      padding-bottom: 13px;
    }
  
    .display_sec_table_notion {
      text-align: center;
    }
  
    .display_last_dt {
      border-bottom: none;
    }
  }  